
.Registration-Wrapper {
    background:  url('./undraw_Access_account_re_8spm\ \(1\).svg');
    background-repeat: no-repeat;
    height: 80vh;
    -webkit-background-size: cover;
    background-size: 600px;
    background-color: #d1dbd9;
    padding-top:0px;
      display: flex;
    align-items: center;
    justify-content: center;
    
  

  }

  .Registration-container{
    position:relavtive;
    top:20px;
    margin-left:600px;
    display:Right;
    align-items: center;
    text-align:center;
    padding: 50px;
    position: relative;
    color:#00b894;
    
    
  }
  .input-div{
    min-width:380px;
    padding: 20px 0;
    padding-left: 15px;
    margin-bottom: 10px;
    outline:none;
    font-family: "Inter";
    border-radius:2px;
    font-size:15px;
    color:#00b894;
    

  }
  .input-Box{
    width:100%;
    overflow:hidden;
    font-size:20px;
    padding: 2px 0;
    margin:2px 0;
    border: 1px solid #00b894;
    background: none;
    


  }
  

.btn{
  width:100%;
  background: none;
  border: 2px solid #00b894;
  color: black;
  padding:5px;
  font-size:20px;
  cursor: pointer;
  margin:12px 0;
}




