.My-Profile-Wrapper{
  height: 80vh;
  -webkit-background-size: cover;
  background-size: 600px;
  background-color: #aca9a994;
  padding-top:0px;
    display: flex;
  align-items: center;
  justify-content: center;
}

